

.text-content h2{
    padding-bottom: 7vw;
}


.btn-learn{
    color: #fff;
    background-color: rgb(119, 2, 21);
    height: 3.3vw;
    width: 10vw;
    border-top-right-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
    font-size: large;
    border: 2px solid rgb(119, 2, 21);
    cursor: pointer;
    z-index: 9999;
    margin-left: 0;
}






.background-content{
    display: flex;
    margin-top: 2vw;
}

.background-content p{
    font-size: 2.8vw;
    color: #fff;
    padding-top: 9vw;
    text-align: center;
}

.left-content{
    margin-left: 8vw;
    margin-right: 8vw;
    
}

.left-content h1{
    color: #000;
    font-size: 5em;
    font-weight: 600;
    text-indent: 48px;
}

.left-content p{
    color: #000;
    font-size: 1.3vw;
    padding-top: 0;
    margin-right: 2vw;
    margin-top: 0;
}

@media screen and (max-width:480px){
    .background-content{
        display: block;
        margin-left: 3vw;
    }

    .left-content h1{
        font-size: 2.2em;
        text-indent: 0px;
    }

    .left-content p{
        font-size: 3.9vw;
        text-align: left;
        font-family:Arial, Helvetica, sans-serif;
    }

    .text-content{
        height: 90vw;
        width: 80vw;
        margin-left: 8.5vw;
        justify-content: center;
    }

    .btn-learn{
        height: 6.3vh;
        width: 38vw;
    }
    br{
        display: none;
    }
}