.section-header{
    text-align: center;
    color: #000;
    text-decoration: dotted;
    padding-top: 2vw;
    margin-bottom: 0;

}

.hire-container{
    background-color: #fff;
}

h2{
    font-family: 'Courier New', Courier, monospace;
}



.quality-box{
    display: flex;
    justify-content: space-between;
    padding-left: 10vw;
    padding-bottom: 4vw;
}

.first-group{
    display: block;
}

.second-group{
    display: block;
}

.icons{
    width: 70px;
    height: 70px;
    margin-left: 6vw;
}


.first{
    margin-right: 4vw;
    color: #042a70;
    text-align: center;
    font-size: 1.2em;
    padding: 8px;
    width: 100vw;
    border: 2px solid #fff;
    background-color: #fff;
    height: 35vh;
    border-radius: 1.5em;
    box-shadow: 2px 3px 9px  #8080803d,
               -2px -3px 9px #8080803d;
}

.logo{
    margin-bottom: 1vw;
    color: #000000;
}

.text-area{
    color: #010610;
   
}



.second{
    margin-right: 4vw;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    padding: 8px;
    width: 100vw;
    border: 2px solid #fff;
    background-color: #fff;
    height: 35vh;
    border-radius: 1.5em;
    box-shadow: 2px 3px 9px #8080803d,
               -2px -3px 9px #8080803d;
}




.third{
    margin-right: 4vw;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    padding: 8px;
    width: 100vw;
    border: 2px solid #fff;
    background-color: #fff;
    height: 35vh;
    border-radius: 1.5em;
    box-shadow: 2px 3px 9px #8080803d,
               -2px -3px 9px #8080803d;
}

.fourth{
    margin-right: 4vw;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    padding: 8px;
    width: 100vw;
    border: 2px solid #fff;
    background-color: #fff;
    height: 35vh;
    border-radius: 1.5em;
    box-shadow: 2px 3px 9px #8080803d,
               -2px -3px 9px #8080803d;
}


@media screen and (max-width: 980px){
    .section-header{
        font-size: 4vw; 
    }
}


@media screen and (max-width: 767px){
    .section-header{
        font-size: 5vw;
    }

    .quality-box{
        display:block;
    }

    .first{
        width: 50vw;
        box-shadow: none;
        margin-left: 0vw;
    }

    .second{
        width: 50vw;
        box-shadow: none;
        margin-right: 10vw;
    }

    .third{
        width: 50vw;
        box-shadow: none;
        margin-left: 0vw;
    }

    .fourth{
        width: 50vw;
        box-shadow: none;
        margin-right: 10vw;
    }

    .icons{
        margin-left: 15vw;
    }

    /*.first-group{
        display: flex;
        margin-bottom: 6vw;
    }

    .second-group{
        display: flex;
    }*/
}


@media screen and (max-width: 480px){
    .section-header{
        font-size: 8vw;
    }

    .quality-box{
        display: block;
        padding-left: 4vw;
    }

    .box{
        margin-bottom: 5vw;
    }

    .icons{
        margin-left: 30vw;
    }

    .first{
        width:85vw;
        margin-right: 0;
        margin-left: 4vw;
        height: 40vh;
        box-shadow: none;
    
    }
    .second{
        width: 85vw;
        margin-right: 0;
        margin-left: 4vw;
        height: 40vh;
        box-shadow: none;

    }

    .third{
        width: 85vw;
        margin-right: 0;
        margin-left: 4vw;
        height: 40vh;
        box-shadow: none;

    }

    .fourth{
        width: 85vw;
        margin-right: 0;
        margin-left: 4vw;
        height: 40vh;
        box-shadow: none;

    }

    .first-group{
        display: block;
    }

    .second-group{
        display: block;
    }

    .slider-footnote{
        font-size: 4vw;
        margin: 2vw;
    }

    
    
}